.subMenu {
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px 0 40px 100px;

  display: block;
  width: 700px;
}

.subMenu img {width: 250px;}

/*.listContainer {

}*/

.list {
  list-style-type: none;
  
  display: grid;
  grid-template-rows: repeat(6, min-content);
  grid-auto-flow: column;
  grid-auto-columns: 250px;
}

.listItem {margin-bottom: 15px;}
.listItem:last-child,
.listItem:nth-child(6n) {
  margin: 0;
}