{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "env": { "browser": true, "es2020": true },
  "plugins": ["react-refresh", "vitest"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:vitest/recommended"
  ],
  "ignorePatterns": ["build", ".eslintrc"],
  "rules": {
    // "react-refresh/only-export-components": [
    //   "warn",
    //   { "allowConstantExport": true }
    // ]

    "strict": ["error", "never"],

    // Possible Errors
    "no-console": ["warn", { "allow": ["warn", "error"] }],
    "no-template-curly-in-string": "error",

    // Best Practices
    "no-multi-spaces": "error",
    "dot-location": ["error", "property"],
    "dot-notation": "error",
    "eqeqeq": "error",
    "no-eval": "error",
    "no-self-compare": "error",
    "prefer-promise-reject-errors": "error",
    "yoda": "error",
    "no-trailing-spaces": "error",
    "react/button-has-type": "error",

    // TypeScript
    "no-use-before-define": "off", // must disable the base rule as it can report incorrect errors
    "@typescript-eslint/no-use-before-define": [
      "error",
      { "functions": false, "classes": true }
    ],
    "@typescript-eslint/no-empty-function": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0,

    // ECMAScript 6
    "arrow-body-style": ["error", "as-needed"],
    "template-curly-spacing": ["error", "never"],
    "no-duplicate-imports": "error",
    "no-useless-constructor": "error",
    "no-var": "error",
    "prefer-const": "warn",
    "prefer-rest-params": "warn",
    "prefer-spread": "error",
    "rest-spread-spacing": ["error", "never"],

    // React/JSX Style Guide
    "react/react-in-jsx-scope": "off",
    "jsx-quotes": ["error", "prefer-double"],
    "react/no-multi-comp": ["error", { "ignoreStateless": true }],
    "react/prefer-stateless-function": [
      "error",
      { "ignorePureComponents": true }
    ],
    "react/jsx-closing-tag-location": "error",
    "react/jsx-tag-spacing": [
      "error",
      {
        "closingSlash": "never",
        "beforeSelfClosing": "always",
        "afterOpening": "never",
        "beforeClosing": "never"
      }
    ],
    "react/jsx-curly-spacing": ["error", { "when": "never", "children": true }],
    "react/jsx-pascal-case": ["error", { "allowAllCaps": false }],
    "react/jsx-boolean-value": ["error", "never"],
    "react/jsx-wrap-multilines": [
      "error",
      {
        "declaration": "parens-new-line",
        "assignment": "parens-new-line",
        "return": "parens-new-line",
        "arrow": "parens-new-line",
        "condition": "parens-new-line",
        "logical": "parens-new-line",
        "prop": "parens-new-line"
      }
    ],
    "react/self-closing-comp": ["error", { "component": true, "html": true }],
    "react/jsx-no-bind": ["error", { "allowArrowFunctions": true }],
    "react/no-children-prop": "off"

    // TODO: go to vitest
    // Tests
    // "jest/no-deprecated-functions": "error",
    // "jest/prefer-called-with": "error",
    // "jest/prefer-todo": "error",
    // "jest/valid-title": "error",
    // "jest/no-commented-out-tests": "error",
    // "jest/prefer-to-be": 0
  }
}
