:root {
  --mobile-menu-hamburger-size: 24px;
  --mobile-menu-hamburger-line: 2px;
  --mobile-menu-hamburger-color: #000;
  --mobile-menu-hamburger-duration: 1s;
}

.hamburger {
  width: var(--mobile-menu-hamburger-size);
  height: calc(var(--mobile-menu-hamburger-size) * 0.75);
  position: relative;

  /* reseting button */
  border: 0;
  background: transparent;
  padding: 0;
  outline: none;
}

.hamburger > div {
  width: 100%;
  height: var(--mobile-menu-hamburger-line);
  background-color: var(--mobile-menu-hamburger-color);
  position: absolute;
}

.hamburger > div:nth-child(1) {top: 0;}
.hamburger > div:nth-child(2) {top: calc(50% - var(--mobile-menu-hamburger-line) / 2);}
.hamburger > div:nth-child(3) {bottom: 0;}