.hamburger {
  --mobile-menu-hamburger-size: 24px;
  --mobile-menu-hamburger-line: 2px;
  --mobile-menu-hamburger-duration: 1s;
}

.hamburger {
  width: var(--mobile-menu-hamburger-size);
  height: calc(var(--mobile-menu-hamburger-size) * 0.75);
  position: relative;
  outline: none;

  /* fix positioning */
  display: flex;
}

.hamburgerDark {
  composes: hamburger;
}

.hamburger > div {
  width: 100%;
  height: var(--mobile-menu-hamburger-line);
  position: absolute;
  background-color: #000;
}

.hamburgerDark > div {
  width: 100%;
  height: var(--mobile-menu-hamburger-line);
  position: absolute;
  background-color: lightgray;
}

.hamburger > div:nth-child(1) {
  top: 0;
}
.hamburger > div:nth-child(2) {
  top: calc(50% - var(--mobile-menu-hamburger-line) / 2);
}
.hamburger > div:nth-child(3) {
  bottom: 0;
}
