.wrapper {
  overflow: hidden;
  margin-bottom: 32px;
}

.cardContainer {
  display: flex;
  gap: 20px;
}

.card {
  position: relative;
  height: 300px;
  transition: background-size 0.5s ease;
  background-size: 100%;
  background-position: center;
}
.card > img {
  height: 100%;
  opacity: 0;
  visibility: hidden;
}
.card:hover {
  background-size: 110%;
}

.cardInfo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;

  padding: 20px;

  /* theme based ? */
  background: rgba(0, 0, 0, 0.5);
  color: #fff;

  cursor: pointer;

  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;

  text-align: center;
  user-select: none;
}
.cardInfo > * {
  margin: 0;
}

.cardAdditionalInfo {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;

  background-color: hsla(60, 56%, 91%, 0.1);
  color: #fff;

  padding: 10px 20px;

  display: flex;
  justify-content: space-between;
}

.dates {
  text-align: end;
}
