:root {
  --white: 255, 255, 255;
  --black: 0, 0, 0;

  /* Fifty Shades of Grey */
  --brightGray: 240, 240, 240;
  --lightGray: 211, 211, 211;
  --gray: 173, 173, 173;
  --darkGray: 99, 99, 99;
  --deepGray: 46, 46, 46;
  --deepDarkGray: 32, 35, 38;
}

.themeWrapper {
  --primaryBackground: var(--white);
  --primaryColor: var(--black);
  --primaryBorder: var(--gray);
  --primaryDisabled: var(--lightGray);
  --primaryHoverHighlight: var(--brightGray);

  background-color: rgb(var(--primaryBackground));
  color: rgb(var(--primaryColor));

  transition: background-color .2s, color .2s;
}

.themeWrapper * {
  border-color: rgb(var(--primaryBorder));
}

.themeWrapperDarkMode {
  --primaryBackground: var(--deepDarkGray);
  --primaryColor: var(--white);
  --primaryBorder: var(--darkGray);
  --primaryDisabled: var(--darkGray);
  --primaryHoverHighlight: var(--deepGray);

  composes: themeWrapper;
}

.themeWrapperDarkMode * {
  border-color: rgb(var(--primaryBorder));
}