.themeWrapper {
  --primaryBackground: var(--white);
  --primaryColor: var(--black);
  --primaryBorder: var(--gray);
  --primaryDisabled: var(--lightGray);
  --primaryHoverHighlight: var(--brightGray);

  background-color: rgb(var(--primaryBackground));
  color: rgb(var(--primaryColor));

  transition:
    background-color 0.2s,
    color 0.2s;
}

.themeWrapper * {
  border-color: rgb(var(--primaryBorder));
}

.themeWrapperDarkMode {
  --primaryBackground: var(--deepDarkGray);
  --primaryColor: var(--white);
  --primaryBorder: var(--darkGray);
  --primaryDisabled: var(--darkGray);
  --primaryHoverHighlight: var(--deepGray);

  composes: themeWrapper;
}

.themeWrapperDarkMode * {
  border-color: rgb(var(--primaryBorder));
}

.progressBarContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
  z-index: 5000;
}
