:root {
  --mobile-menu-options-size: 20px;
  --mobile-menu-options-dot-diameter: 4px;
}

.btn {
  position: relative;
  width: var(--mobile-menu-options-size);
  height: var(--mobile-menu-options-size);

  display: flex;
  justify-content: center;
  
  outline: none;
}

.darkBtn { composes: btn; }

.dot {
  width: var(--mobile-menu-options-dot-diameter);
  height: var(--mobile-menu-options-dot-diameter);

  background-color: #000;
  border-radius: 50%;

  position: absolute;
  transition: background-color .2s;
}

.darkBtn .dot {
  background-color: lightgray;
}

.dot:nth-child(1) {top: 0; transform: rotate(-45deg);}
.dot:nth-child(2) {top: calc(50% - var(--mobile-menu-options-dot-diameter) / 2);}
.dot:nth-child(3) {bottom: 0; transform: rotate(45deg);}