.rootMenuContainer {
  border-top: 1px solid #adadad;
  position: relative;
}

.rootMenuContainer:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #adadad;
  z-index: -1;
}

.subMenuContainer {
  width: 100%;
  min-height: 230px;
  position: absolute;
  border-bottom: 1px solid #adadad;
  background-color: rgba(255, 255, 255, .95);
}