.menuWrapper {
  border-top: 1px solid #adadad;
  position: relative;
}

.menuWrapper:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #adadad;
  z-index: -1;
}

.menuContainer {
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 85px;
}

.subMenuContainer {
  width: 100%;
  position: absolute;
  border-bottom: 1px solid #adadad;
  background-color: rgba(255, 255, 255, .95);
}