.pageContainer {
  --paddingTop: 20px;
}

.pageContainer {
  position: relative;
  padding-top: var(--paddingTop);
}

.page {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 100px;

  text-align: justify;
}

.pageLeave {
  composes: page;
  position: absolute;
  top: var(--paddingTop);
}

.page img {
  display: block;
  margin: 0 auto;
}

/* tablet */
@media(max-width: 1024px) {
  .page {
    padding: 0 75px;
  }
}

/* mobile */
@media(max-width: 768px) {
  .page {
    padding: 0 25px;
  }
}