.title {
  font-family: Arial, sans-serif;
  line-height: 52px;
  margin-bottom: 32px;
  margin-top: 0;
  font-weight: 700;
}

.shadowRender {
  height: 0;
  visibility: hidden;
  overflow: hidden;
}

.pageContainer {
  --paddingTop: 20px;
}

.pageContainer {
  position: relative;
  padding-top: var(--paddingTop);
  height: calc(100% - var(--paddingTop));
}

.page {
  height: 100%;

  --gap: clamp(1rem, 6vw, 3rem);
  --full: minmax(var(--gap), 1fr);
  --feature: minmax(0, 230px);
  --popout: minmax(0, 2rem);

  display: grid;
  grid-template-columns:
    [full-start] var(--full)
    [feature-start] var(--feature)
    [popout-start] var(--popout)
    [content-start] min(680px, 100% - var(--gap) * 2) [content-end]
    var(--popout) [popout-end]
    var(--feature) [feature-end]
    var(--full) [full-end];
}
.page > * {
  grid-column: content;
}
.popout {
  grid-column: popout;
}
.feature {
  grid-column: feature;
}
.full {
  grid-column: full;
}

.pageLeave {
  composes: page;
  position: absolute;
  /* left: 0 and right: 0 make sure that page transitioning will work properly on wide screens */
  left: 0;
  right: 0;
  top: var(--paddingTop);
}

.page img {
  display: block;
  margin: 0 auto;
}

.footer {
  background-color: #000;
  color: #919191;
  font-size: 13px;
}
