.title {
  font-family: Arial, sans-serif;
  line-height: 52px;
  margin-bottom: 32px;
  margin-top: 0;
  font-weight: 700;
}

.shadowRender {
  height: 0;
  visibility: hidden;
  overflow: hidden;
}

.pageContainer {
  --paddingTop: 20px;
}

.pageContainer {
  position: relative;
  padding-top: var(--paddingTop);
  height: calc(100% - var(--paddingTop));
}

.page {
  max-width: 680px;
  margin: 0 auto;
  padding: 0 100px;
  height: 100%;

  text-align: justify;
}

@media (max-width: 1024px) {
  .page {
    padding: 0 75px;
  }
}

@media (max-width: 768px) {
  .page {
    padding: 0 25px;
  }
}

.pageLeave {
  composes: page;
  position: absolute;
  /* left: 0 and right: 0 make sure that page transitioning will work properly on wide screens */
  left: 0;
  right: 0;
  top: var(--paddingTop);
}

.page img {
  display: block;
  margin: 0 auto;
}

.footer {
  background-color: #000;
  color: #919191;
  font-size: 13px;
}
