.optionsContainer {
  left: 0;
  right: 0;
  background-color: rgba(var(--primaryBackground), 0.95);
  border-bottom: 1px rgb(var(--primaryBorder)) solid;
  z-index: 1500;
  padding: 15px 25px;
  transition: background-color 0.2s;
}

.langBtn {
  display: flex;
  font-size: 15px;
  margin-bottom: 13px;
  margin-left: 3px;
  color: rgba(var(--primaryColor), 0.9);
  transition: color 0.2s;
}

.langTxt {
  margin-left: 5px;
  margin-top: 3px;
}
