.optionsContainer {
  left: 0;
  right: 0;
  background-color: rgba(var(--primaryBackground), .95);
  border-bottom: 1px rgb(var(--primaryBorder)) solid;
  z-index: 2;
  padding: 15px 25px;
}

.langBtn {
  display: flex;
  font-size: 15px;
  margin-bottom: 13px;
  margin-left: 3px;
  color: rgba(var(--primaryColor), .9);
}

.langTxt {
  margin-left: 5px;
  margin-top: 3px;
}