:root {
  --white: 255, 255, 255;
  --black: 0, 0, 0;

  /* TODO check out if all in use */
  --brightGray: 240, 240, 240;
  --lightGray: 240, 240, 240;
  --gray: 173, 173, 173;
  --darkGray: 99, 99, 99;
  --deepGray: 46, 46, 46;
  --deepDarkGray: 32, 35, 38;
}

.ThemeWrapper {
  display: grid;
  min-height: 100%;
  grid-template-rows: auto 1fr auto;

  --primaryBackground: var(--white);
  --primaryColor: var(--black);

  background-color: rgb(var(--primaryBackground));
  color: rgb(var(--primaryColor));

  transition: background-color .2s, color .2s;
}

.ThemeWrapperDarkMode {
  --primaryBackground: var(--deepDarkGray);
  --primaryColor: var(--white);

  composes: ThemeWrapper;
}