:root {
  --white: #fff;
  --black: #000;

  --gray: #919191;
  --darkGray: #636363;
  --deepDarkGray: #202326;
}

.ThemeWrapper {
  display: grid;
  min-height: 100%;
  grid-template-rows: auto 1fr auto;

  transition: background-color .2s, color .2s;

  --primaryBackround: var(--white);
  --primaryColor: var(--black);

  --monochrome1: var(--gray);
  --monochrome2: var(--darkGray);

  background-color: var(--primaryBackround);
  color: var(--primaryColor);
}

.ThemeWrapperDarkMode {
  --primaryBackround: var(--deepDarkGray);
  --primaryColor: var(--white);

  composes: ThemeWrapper;
}