@import url('https://fonts.googleapis.com/css?family=Inconsolata|Playfair+Display:400,400i,900|Ubuntu:300&subset=cyrillic,latin-ext');

/*
    Playfair Display
    regular - font-family: 'Playfair Display', serif;
    bold - font-weight: 900;
    italic - font-style: italic;

    Ubuntu light
    font-family: 'Ubuntu', sans-serif;

    Inconsolata
    font-family: 'Inconsolata', monospace;
*/

body,
button {
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
